[tool.poetry]
name = "morningstreams"
version = "0.1.0"
description = ""
authors = ["S1M0N38 <bertolottosimone@gmail.com>"]
license = "MIT"
classifiers = [
  "Development Status :: 1 - Planning",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
ms-install = "morningstreams.main:install"
ms-run = "morningstreams.main:run"

[tool.black]
line-length = 80
target-version = ['py39', 'py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
skip = ["acestream.engine"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
